/*Whole Document*/
html, body{
	height: 100%;
}
body{
	width: 100%;
	background-image: url("../images/travelbkgd.jpg");
	background-repeat: no-repeat;
	background-position: center;

}
.wrap{
	text-align: center;
	background: rgba(100%, 100%, 100%, 0.7);
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	min-height: 100%;
	margin: 0 auto -100px;
	padding-top: 3em;
}
.wrap:after{
	content: "";
	display: block;
	height: 100px;
}

/*Header Section*/
h1{
	font-size: 5em;
}
/*Content Section*/
h2{
	font-size: 3em;

}
h3{
	font-size: 2em;
}
/*Footer Section*/
footer{
	width: 100%;
	height: 100px;
	text-align: center;
}

/*Media Queries*/
@media screen  and (max-width: 1600px){
}/*laptops -- delete after -- reference's sake*/

@media screen and (max-width: 960px){
}/*desktop layout*/
@media screen and (max-width: 768px){

}/*tablet*/
@media screen and (max-width: 650px){
}/*phone in landscape*/
